__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.mypy_cache
.pytest_cache
.hypothesis
*.sqlite
*.db
uploads/*
data/*
logs/
postgres/
.vscode
.idea
*.md
!ai_planner_instructions.md
README.md.old
.env
.DS_Store
docker-deploy/
